@page
@model System_Shopper.Pages.System_Builder.IndexModel
@{
    ViewData["Title"] = "System Builder";
}

<div class="container">
    <!-- Title -->
    <div class="row">
        <div class="col-sm-3">
            <h2 style="color: #1D2F6F"><i class="bi bi-bricks"></i> System Builder</h2>
        </div>
    </div>
    <!-- Filters -->
    <div class="row">
        <div class="col-sm-8">
            <form>
                <h3>Filters:</h3>
                <a style="border-right-style: solid; border-color: #8390FA;">Name A-Z</a>
                <a>Name Z-A</a>
                <a>Price</a>
            </form>
        </div>
    </div>
    <div class="row">
        <!-- Categories -->
        <div class="col-sm-1">

        </div>
        <!-- Products -->
        <div class="col-sm-8">

        </div>
        <!-- System List -->
        <div class="col-sm-3">

        </div>
    </div>
</div>
