@page
@model System_Shopper.Pages.System_Builder.IndexModel
@{
    ViewData["Title"] = "System Builder";
}

<div class="container">
    <!-- Title -->
    <div class="row">
        <div class="col-sm-3">
            <h2 style="color: #1D2F6F"><i class="bi bi-bricks"></i> System Builder</h2>
        </div>
    </div>
    <!-- Filters -->
    <div class="row">
        <div class="col-sm-8">
            <h4>Filters:</h4>
            <a class="pr-2" style="border-right-style: solid; border-color: #8390FA; text-decoration: none">Name A-Z</a>
            <a class="pr-2" style="border-right-style: solid; border-color: #8390FA; text-decoration: none">Name Z-A</a>
            <a class="pr-2" style="border-right-style: solid; border-color: #8390FA; text-decoration: none">Price</a>
        </div>
    </div>
    <div class="row">
        <!-- Categories -->
        <div class="col-sm-2 mt-2">
            <ul>
                <li>Cases</li>
                <li>CPUs</li>
                <li>Coolers</li>
                <li>Graphics Cards</li>
                <li>Motherboards</li>
                <li>RAM</li>
                <li>Storage</li>
                <li>Power Supplies</li>
            </ul>
        </div>
        <!-- Products -->
        <div class="col-sm-8 mt-2">
            @foreach (var product in Model.ProductList)
            {
                <!--Product List-->
                <div style="border-style: solid; border-color: #1D2F6F" class="row mb-3 p-2 rounded">
                    <div class="col-sm-3">
                        <img style="width: 150;" class="img-fluid" src="@product.ProductImage" alt="Product Image" /> <!-- Manufacturer image goes here -->
                        <h3>$<b>@product.Price</b></h3>
                    </div>
                    <!-- Product Information -->
                    <div class="col-sm-8">
                        <!-- Product Name and Price-->
                        <div class="row">
                            <div class="col-sm-9">
                                <h5>@product.ProductName</h5>
                            </div>
                            <!--<div class="col-sm-3">
                                <h3>$<b>product.Price</b></h3>
                            </div>-->
                        </div>
                    </div>
                </div>
            }

        </div>
        <!-- System List -->
        <div class="col-sm-3">

        </div>
    </div>
</div>
