html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

* {
    color: #1D2F6F;
    border-color: #1D2F6F;
}

label {
    font-weight: bold;
}

#SystemListLabel {
    position: fixed;
    font-weight: bold;
    top: 10%;
    right: 0px;
    width: 150px;
    height: 35px;
    border-style: solid;
    border-color: #1D2F6F;
    border-radius: 5px;
    border-width: 2px;
}

#SystemList {
    position: fixed;
    top: 17%;
    right: 0px;
    width: 305px;
    height: 60%;
    background-color: #8390FA;
    border-style: solid;
    border-color: #1D2F6F;
    border-radius: 5px;
    border-width: 2px;
    overflow-y: scroll;
}

#SystemListSubtotal {
    position: fixed;
    top: 77%;
    right: 0px;
    width: 200px;
    height: 35px;
    background-color: #8390FA;
    border-style: solid;
    border-color: #1D2F6F;
    border-radius: 5px;
    border-width: 2px;
}

#ListTrigger:hover {
    cursor: pointer;
}