@page
@model System_Shopper.Pages.AddManufacturerModel
@{
    ViewData["Title"] = "Add Product";
}

<form action="post">
    <div class="row mb-3">
        <label for="inputManufacturerName" class="col-sm-2 col-form-label">Manufacturer Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputManufacturerName" asp-for="NewManufacturer.ManufacturerName" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Manufacturer</button>
</form>
